# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
.output
.astro

# Environment variables
.env
.env.production
.doc

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo
*~
