---
import Layout from "../layouts/index.astro";

interface Frontmatter {
  title: string;
  author: string;
  description?: string;
  pubDate: string;
}
const allPosts = await Astro.glob<Frontmatter>("../pages/posts/*.md");
---

<Layout title="Posts">
  <div class="pt-xl px-base pb-0 flex flex-col items-center">
    <sction class="mt-base shadow-1 w-full max-w-screen-phone">
      <header class="px-xl pt-2xl pb-md">
        <h2 class="text-h5 text-on-secondary-em">Recent Posts</h2>
        <p class="mt-sm text-body-2 text-on-secondary-md-em">
          Here are the three most recent articles displayed below.
        </p>
      </header>
      <ul class="px-xl">
        {
          allPosts.map((post) => (
            <li class=" pt-md pb-xl border-b border-outline border-solid">
              <p class="text-overline text-on-secondary-md-em">
                {`${post.frontmatter.pubDate.slice(0, 10)} ${
                  post.frontmatter.author
                }`}
              </p>
              <h3 class="text-sub1 text-on-secondary-em">
                {post.frontmatter.title}
              </h3>
              <p class="text-body-2 text-on-secondary-md-em">
                {post.frontmatter.description}
              </p>
            </li>
          ))
        }
      </ul>
    </sction>
  </div>
</Layout>
