---
const { class: className } = Astro.props;
---

<button class:list={["pl-sm py-md pr-base text-button uppercase", "ripple", className]}>
  <slot />
</button>

<script>
  import { createRippleEffect } from "../utils/effect";
  const buttons = document.querySelectorAll("button.ripple-target");

  // Handle clicks on each button.
  buttons.forEach((button) => {
    button.addEventListener("click", (e) =>
      createRippleEffect(e as MouseEvent)
    );
  });
</script>
