---
const { class: className, title } = Astro.props;
const navLinks = [
  {
    key: "home",
    url: "/",
    text: "Home",
    active: title.toLowerCase() === "home",
  },
  {
    key: "posts",
    url: "/posts",
    text: "Posts",
    active: title.toLowerCase() === "posts",
  },
  {
    key: "about",
    url: "/about",
    text: "About",
    active: title.toLowerCase() === "about",
  },
];
---

<nav class:list={[className, "bg-primary-500 shadow-3"]}>
  <ul class="flex">
    {
      navLinks.map((link) => (
        <li
          class:list={[
            "py-xl flex-1 text-center text-button uppercase relative",
            link.active
              ? "text-on-primary-em after:content-[''] after:absolute after:bottom-0 after:left-0 after:bg-on-primary-em after:h-0.5 after:w-full"
              : "text-on-primary-md-em",
          ]}
        >
          <a href={link.url}>{link.text}</a>
        </li>
      ))
    }
  </ul>
</nav>
