---
import "../styles/base.css";
import BaseHead from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<html lang="en" transition:animate="none">
  <head>
    <meta name="description" content="An Astro theme for blog that follows Material Design guideline." />
    <meta name="keywords" content="Astro,Material Design,Blog,Theme" />
    <meta name="author" content="Enpei Chen" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Material+Icons&display=swap"
      rel="stylesheet"
    />
    <BaseHead title={title} />
  </head>
  <body class="flex flex-col">
    <Header class="flex-shrink-0 flex-grow-0" title={title} />
    <main class="flex-auto" transition:animate="fade">
      <slot />
    </main>
    <Footer class="flex-shrink-0 flex-grow-0" />
  </body>
</html>
